{% extends "_base.html" %} {% block content %}

<div class="ui right floated teal labeled icon button">
  Cadastrar novo associado
  <i class="add icon"></i>
</div>

<h2 class="ui header">
  Associados
  <div class="sub header">Gerencie seus associados</div>
</h2>

<section class="room">
  <table class="ui purple table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% if current_user.person().associated() %}
        {% for person in current_user.person().associated() %}
          <tr>
            <td>{{ person.name }}</td>
            <td>
              {% if person.emails() %}
                {% for email in person.emails() %}
                  {{ email.email }} <br>
                {% endfor %}
              {% else %}
                <span>Não informado</span>
              {% endif %}
            </td>
            <td>
              {% if person.contacts() %}
                {% for contact in person.contacts() %}
                  ({{ contact.ddd }}) {{ contact.num }} <br />
                {% endfor %}
              {% else %}
                <span>Não informado</span>
              {% endif %}
            </td>
            <td>
              <button class="ui green basic button">Visualizar</button>
              <button class="ui blue basic button">Editar</button>
              <button class="ui red basic button">Excluir</button>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>Não foi cadastrado nenhum associado para o seu perfil.</td>
        </tr>
      {% endif %}

      <!-- <tr>
        <td>Even</td>
        <td>Næsheim</td>
        <td>84-9999-1111</td>
        <td>
          <button class="ui green basic button" onclick="activateModalShow();">Visualizar</button>
          <button class="ui blue basic button" onclick="activateModalEdit();">Editar</button>
          <button class="ui red basic button" onclick="activateModalRemove();">Excluir</button>
        </td>
      </tr> -->
    </tbody>
  </table>
</section>

{% endblock %}
