[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
Flask-Testing = "*"
Flask-DebugToolbar = "*"

[packages]
coverage = "*"
peewee = "*"
python-decouple = "*"
psycopg2 = "*"
arrow = "*"
brazilnum = "*"
gunicorn = "*"
Flask-WTF = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-Script = "*"
Flask = "*"
