<header>
  <nav class="ui menu">
    <div class="ui container">
      <a href="{{ url_for('main.dashboard') }}" class="item">
        <img class="logo" src="{{url_for('static', filename='images/logo.png')}}" />
      </a>
      {% if current_user.is_authenticated %}
      <div class="right menu">
        <a href="#" class="novo-modulo item">Novo Módulo</a>
        <div class="ui dropdown item">
          {{ current_user.person.first_name or current_user.username }} <i class="dropdown icon"></i>
          <div class="menu">
            <a href="{{ url_for('associated.index')}}" class="item">Associados</a>
            <a href="{{ url_for('profile.profile') }}" class="item">Perfil</a>
            <a href="#" data-target="editPasswordForm" class="item">Alterar senha</a>
            <a href="{{ url_for('auth.logout') }}" class="item">Sair</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
</header>
