{% extends "_base.html" %}

{% block content %}

<h2 class="ui header">
  Dashboard
  <div class="sub header">Tudo certo, <span class="">{{ current_user.person.first_name or current_user.username }}</span>?</div>
</h2>

<section class="room">
  <h3 class="ui sub dividing header">
    Cozinha
  </h3>
  <div class="ui basic segment">
    <div class="ui cards">

      <div class="card">
        <div class="content">
          <span class="right floated">
            <i class="big yellow lightbulb icon"></i>
          </span>
          <div class="header">Iluminação</div>
          <div class="meta">
            Ligado há 30min
          </div>
        </div>
        <div class="extra content">
          <a href="#" class="right floated gerenciar-modulo"><i class="edit icon"></i> Editar</a>
          <div class="ui toggle checkbox">
            <input type="checkbox" checked>
            <label>Ligado</label>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <span class="right floated">
            <i class="big grey tint icon"></i>
          </span>
          <div class="header">Torneira</div>
          <div class="meta">
            Fechada desde ontem
          </div>
        </div>
        <div class="extra content">
          <a href="#" class="right floated gerenciar-modulo"><i class="edit icon"></i> Editar</a>
          <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>Fechada</label>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="room">
  <h3 class="ui sub dividing header">
    Quarto
  </h3>
  <div class="ui basic segment">
    <div class="ui cards">

      <div class="card">
        <div class="content">
          <span class="right floated">
            <i class="big grey lightbulb icon"></i>
          </span>
          <div class="header">Iluminação</div>
          <div class="meta">
            Desligada há 5min
          </div>
        </div>
        <div class="extra content">
          <a href="#" class="right floated gerenciar-modulo"><i class="edit icon"></i> Editar</a>
          <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>Desligada</label>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="room">
  <h3 class="ui sub dividing header">
    Garagem
  </h3>
  <div class="ui basic segment">
    <div class="ui cards">

      <div class="card">
        <div class="content">
          <span class="right floated">
            <i class="big grey lightbulb icon"></i>
          </span>
          <div class="header">Iluminação</div>
          <div class="meta">
            Desligada há 3h
          </div>
        </div>
        <div class="extra content">
          <a href="#" class="right floated gerenciar-modulo"><i class="edit icon"></i> Editar</a>
          <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>Desligada</label>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <span class="right floated">
            <i class="big red lock icon"></i>
          </span>
          <div class="header">Porta</div>
          <div class="meta">
            Trancada há 5h
          </div>
        </div>
        <div class="extra content">
          <a href="#" class="right floated gerenciar-modulo"><i class="edit icon"></i> Editar</a>
          <div class="ui toggle checkbox">

            <input type="checkbox" checked>

            <label>Trancada</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
