{% extends "_base.html" %}

{% block content %}

<h2 class="ui header">
  Dashboard
  <div class="sub header">Tudo certo, <span class="">{{ current_user.person.first_name or current_user.username }}</span>?</div>
</h2>

{% for room, modules in modules_by_room.items() %}
<section class="room">
  <h3 class="ui sub dividing header">
    {{room}}
  </h3>

  <div class="ui basic segment">
    <div class="ui cards">
      {% for module in modules %}
      <div class="card" data-identifier="{{module.identifier}}">
        <div class="content">
          <span class="right floated">
            <i class="big {{module.type.icon}} module icon"></i>
          </span>
          <div class="header">{{module.name}}</div>
          <div class="meta">
            Carregando...
          </div>
        </div>
        <div class="extra content">
          <a href="#" class="right floated"><i class="edit icon"></i> Editar</a>
          <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>Ativado</label>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}

<form class="ui small form {{ 'error' if form.errors else '' }} modal add"  action="{{ url_for('main.module_add')}}" method="post">
  <i class="close icon"></i>
  <div class="header">
    Adicionar Módulo
  </div>
  <div class="ui content">
    {#<div class="ui error message">
      {% for (field, errors) in form.errors.items() %}
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      {% endfor %}
    </div>#}
    {{ form.hidden_tag() }}

      <div class="ui field required {{ 'error' if form.identifier.errors else '' }}">
        {{ form.identifier.label }}
        <div class="ui action input">
          {{ form.identifier(placeholder=form.identifier.label.text) }}
          <div class="ui carregar modulo button">Carregar</div>
        </div>
      </div>
      <div class="informacoes" style="display:none;">
        <div class="field required {{ 'error' if form.name.errors else '' }}">
          {{ form.name.label }}
          {{ form.name(placeholder=form.name.label.text) }}
        </div>
        <div class="field required {{ 'error' if form.room.errors else '' }}">
          {{ form.room.label }}
          {{ form.room(placeholder=form.room.label.text) }}
        </div>
        <div class="field required {{ 'error' if form.module_type.errors else '' }}">
          {{ form.module_type.label }}
          {{ form.module_type(placeholder=form.module_type.label.text, readonly=True) }}
        </div>
      </div>
  </div>
  <div class="actions">
    <div class="ui cancel button">
      Cancelar
    </div>
    <div class="ui green submit button">
      Adicionar
    </div>
  </div>
</form>

{% endblock %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
  <script>
    (function() {
      function iniciar() {
        $('.ui.checkbox').checkbox();

        let client = new Paho.MQTT.Client(location.hostname, 9883, '' + Number(new Date()));

        $('[data-identifier] .checkbox').click(function () {
          let status = $(this).checkbox('is checked');
          let $card = $(this).closest('[data-identifier]');
          message = new Paho.MQTT.Message('1');
          message.destinationName = 'm/' + $card.data('identifier') + '/' + (status ? 101 : 102);
          client.send(message);
          $card.find('.meta').text(status ? 'Ativado' : 'Desativado');
          if (status) {
            $card.find('.module.icon').addClass('blue');
          } else {
            $card.find('.module.icon').removeClass('blue');
          }
        });

        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;

        client.connect({onSuccess:onConnect});

        function onConnect() {
          let identifiers = $('[data-identifier]').map(function() {
            return $(this).data('identifier');
          }).get();
          console.log(identifiers)
          identifiers.forEach(function(identifier) {
            client.subscribe('m/' + identifier);
            client.subscribe('m/' + identifier + '/+/+');
          });
        }

        function onConnectionLost(responseObject) {
          setTimeout(function() {
            client.connect({onSuccess:onConnect})
          }, 5000);
        }

        function onMessageArrived(message) {
          let topic = message.destinationName;
          let topicValues = topic.split('/');
          let payload = message.payloadString;

          if (topicValues.length === 2) {
            // testamento
          } else if (topicValues.length === 3) {
            // comando
          } else if (topicValues.length === 4) {
            let identifier = topicValues[1];
            payload = Number(payload);
            if (Number(topicValues[2]) === 1 && Number(topicValues[3]) === 1) {
              let $card = $('[data-identifier='+identifier+']');
              if (payload === 1) {
                $card.find('.module.icon').addClass('blue');
              } else {
                $card.find('.module.icon').removeClass('blue');
              }
              $card.find('.meta').text(payload === 1 ? 'Ativado' : 'Desativado');
              $card.find('.checkbox').checkbox(payload === 1 ? 'check' : 'uncheck');
            }
          }
        }

        function iniciarForm(selector){
          $(selector).form({
            fields: {
              identifier: {
                rules: [{
                  type: 'empty',
                  prompt: 'Informe o identificador'
                }]
              },
              name: {
                rules: [{
                  type: 'empty',
                  prompt: 'Informe o nome'
                }]
              },
              room: {
                rules: [{
                  type: 'empty',
                  prompt: 'Informe o cômodo'
                }]
              },
              module_type: {
                rules: [{
                  type: 'empty',
                  prompt: 'Informe o tipo'
                }]
              }
            },
            inline: true
          });
        }

        $('.novo-modulo').click(function(){
          $('.modal.add').modal('show');
        });
        $('.novo-modulo').click();

        $('.carregar.modulo').click(function(){
          let $button = $(this);
          let identificador = $('[name=identifier]').val();

          if (identificador) {
            $button.addClass('loading');
            $.ajax({
              url: 'api/v1/modules/' + identificador,
              success: function(result) {
                module = result.data
                if (module) {
                  let $modal = $('.modal.add .informacoes');
                  let $tipo = $modal.find('[name=module_type]');

                  $tipo.val(module.type.name);
                  $modal.show();

                  iniciarForm('.modal.add');
                }
              },
              complete: function() {
                $button.removeClass('loading');
              }
            });
          }

        });
      }

      $(iniciar);
    })();
  </script>
{% endblock %}
