<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Luna Web</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
  <style>
    body {
      background-color: #eee;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>
</head>

<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <img class="ui image circular" src="{{url_for('static', filename='images/logo.png')}}" />
        <div class="content">
          Luna
        </div>
      </h2>
        
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="ui {{ category }} message">
        <i class="close icon"></i>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      
      <div class="ui top attached pointing three item menu">
        <a class="item active" data-tab="login">Acessar</a>
        <a class="item" data-tab="register">Registrar-se</a>
        <a class="item" data-tab="new_password">Alterar a senha</a>
      </div>
      
      <form role="form" data-tab="login" method="post" action="" class="ui large login form bottom attached active tab segment">
        {{ login_form.hidden_tag() }}
        
        <div class="field {{'error' if login_form.username.errors else ''}}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ login_form.username(placeholder=login_form.username.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if login_form.password.errors else ''}}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ login_form.password(placeholder=login_form.password.label.text) }}
          </div>
        </div>
        <div class="ui fluid large blue submit button">Entrar</div>
        
        <div class="ui error message">
        </div>

      </form>
        
      <form role="form" data-tab="register" method="post" action="{{url_for('auth.register')}}" class="ui large register form bottom attached tab segment">
        {{ register_form.hidden_tag() }}
        <div class="field {{'error' if register_form.module.errors else ''}}">
          <div class="ui left icon input">
            <i class="barcode icon"></i>
            {{ register_form.module(placeholder=register_form.module.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if register_form.username.errors else ''}}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ register_form.username(placeholder=register_form.username.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if register_form.password.errors else ''}}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ register_form.password(placeholder=register_form.password.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if register_form.confirm.errors else ''}}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ register_form.confirm(placeholder=register_form.confirm.label.text) }}
          </div>
        </div>
        <div class="ui fluid large blue submit button">Cadastrar</div>
        
        <div class="ui error message">
        </div>

      </form>

      <form role="form" data-tab="new_password" method="post" action="" class="ui large new_password form bottom attached tab segment">
        {{ login_form.hidden_tag() }}
        
        <p>Uma senha temporária será enviada para seu email</p>

        <div class="field {{ 'error' if new_password_form.email.errors else '' }}">
          <div class="ui left icon input">
            <i class="at icon"></i>
            {{ new_password_form.email(placeholder=new_password_form.email.label.text) }}
          </div>
        </div>
        
        <div class="ui fluid large blue submit button">Enviar</div>
        
        <div class="ui error message">
        </div>

      </form>

      <div class="ui message">
        Algum problema? <a href="#">Entre em contato!</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
  <script>
    $('.ui.login.form').form({
      fields: {
        username: {
          identifier: 'username',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira seu nome de usuário'
            },{
              type: 'minLength[6]',
              prompt: 'Seu nome de usuário deve ter no mínimo 6 caracteres'
            },{
              type: 'maxLength[40]',
              prompt: 'Seu nome de usuário deve ter no máximo 40 caracteres'
            }
          ]
        },
        password: {
          identifier: 'password',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira sua senha'
            },{
              type: 'length[6]',
              prompt: 'Sua senha deve ter no mínimo 6 caracteres'
            }
          ]
        }
      }
    });
    
    $('.ui.register.form').form({
      fields: {
        module: {
          identifier: 'module',
          rules: [{
            type: 'empty',
            prompt: 'Por favor, identifique seu módulo'
          },{
            type: 'length[6]',
            prompt: 'Identificadores de módulos tem no mínimo 6 caracteres'
          }]
        },
        username: {
          identifier: 'username',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira seu nome de usuário'
            },{
              type: 'minLength[6]',
              prompt: 'Seu nome de usuário deve ter no mínimo 6 caracteres'
            },{
              type: 'maxLength[40]',
              prompt: 'Seu nome de usuário deve ter no máximo 40 caracteres'
            }]
        },
        password: {
          identifier: 'password',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira sua senha'
            },
            {
              type: 'length[6]',
              prompt: 'Sua senha deve ter no mínimo 6 caracteres'
            }
          ]
        },
        confirm: {
          identifier: 'confirm',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira a confirmação da senha'
            }
          ]
        }
      }
    });

    $('.ui.new_password.form').form({
      fields: {
        email: {
          identifier: 'email',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira um email válido'
            },{
              type: 'minLength[10]',
              prompt: 'Seu nome de email deve ter no mínimo 10 caracteres'
            }
          ]
        }
      }
    });
    
    $('.ui.menu .item').tab();
  </script>
</body>

</html>


