<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Luna Web</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
  <style>
    body {
      background-color: #eee;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>
</head>

<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <img class="ui image circular" src="{{url_for('static', filename='images/logo.png')}}" />
        <div class="content">
          Luna
        </div>
      </h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="ui {{ category }} message">
            <i class="close icon"></i>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="ui top attached pointing two item menu">
        <a class="item active" data-tab="login">Acessar</a>
        <a class="item" data-tab="register">Registrar-se</a>
      </div>

      <form role="form" data-tab="login" method="post" action="" class="ui large login form {{ 'error' if login_form.errors else '' }} bottom attached active tab segment">
        {{ login_form.hidden_tag() }}

        <div class="field {{'error' if login_form.email.errors else ''}}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ login_form.email(placeholder=login_form.email.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if login_form.password.errors else ''}}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ login_form.password(placeholder=login_form.password.label.text) }}
          </div>
        </div>
        <div class="ui fluid large blue submit button">Entrar</div>

        <br>
        
        <div class="ui error message">
          <ul class="list">
            {% for (field, errors) in login_form.errors.items() %}
              {% for error in errors %}
                <li>{{error}}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>

      </form>

      <form role="form" data-tab="register" method="post" action="{{url_for('auth.register')}}" class="ui large register form {{ 'error' if register_form.errors else '' }} bottom attached tab segment">
        {{ register_form.hidden_tag() }}
        <div class="field {{'error' if register_form.module.errors else ''}}">
          <div class="ui left icon input">
            <i class="barcode icon"></i>
            {{ register_form.module(placeholder=register_form.module.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if register_form.email.errors else ''}}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ register_form.email(placeholder=register_form.email.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if register_form.password.errors else ''}}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ register_form.password(placeholder=register_form.password.label.text) }}
          </div>
        </div>
        <div class="field {{'error' if register_form.confirm.errors else ''}}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ register_form.confirm(placeholder=register_form.confirm.label.text) }}
          </div>
        </div>
        <div class="ui fluid large blue submit button">Cadastrar</div>

        <div class="ui error message">
          <ul class="list">
            {% for (field, errors) in register_form.errors.items() %}
              {% for error in errors %}
                <li>{{error}}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>

      </form>

      <div class="ui message">
        <center><a href="#" class="new_password">Esqueci minha senha</a></center>
      </div>

      <div class="ui small create modal">
        <i class="close icon"></i>
        
        <div class="header"></div>

        <div class="content">
          
          <form role="form" data-tab="new_password" method="post" action="{{url_for('auth.new_password')}}" class="ui large new_password form bottom ">
            <div class="field {{ 'error' if new_password_form.cpf.errors else '' }}">
              <div class="ui left icon input">
                <i class="credit card alternative icon"></i>
                  {{ new_password_form.cpf(placeholder=new_password_form.cpf.label.text) }}
              </div>
            </div>
            <div class="field {{'error' if new_password_form.password.errors else ''}}">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ new_password_form.password(placeholder=new_password_form.password.label.text) }}
              </div>
            </div>
            <div class="field {{'error' if new_password_form.confirm.errors else ''}}">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ new_password_form.confirm(placeholder=new_password_form.confirm.label.text) }}
              </div>
            </div>

            <div class="actions">
                <center><div class="ui blue submit button">Enviar</div></center>
            </div>

            <div class="ui error message"></div>

          </form>

        </div>

      </div>

      <div class="ui message">
        <center>Algum problema? <a href="#">Entre em contato!</a></center>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
  <script>
    $('.ui.login.form').form({
      inline: true,
      on: 'blur',
      fields: {
        email: {
          identifier: 'email',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira seu email'
            },{
              type: 'email',
              prompt: 'O email informado não é válido'
            }]
        },
        password: {
          identifier: 'password',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira sua senha'
            },{
              type: 'length[6]',
              prompt: 'Sua senha deve ter no mínimo 6 caracteres'
            }
          ]
        }
      }
    });

    $('.ui.register.form').form({
      inline: true,
      on: 'blur',
      fields: {
        module: {
          identifier: 'module',
          rules: [{
            type: 'empty',
            prompt: 'Por favor, identifique seu módulo'
          },{
            type: 'length[6]',
            prompt: 'Identificadores de módulos tem no mínimo 6 caracteres'
          }]
        },
        email: {
          identifier: 'email',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira seu email'
            },{
              type: 'email',
              prompt: 'O email informado não é válido'
            }]
        },
        password: {
          identifier: 'password',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira sua senha'
            },
            {
              type: 'length[6]',
              prompt: 'Sua senha deve ter no mínimo 6 caracteres'
            }
          ]
        },
        confirm: {
          identifier: 'confirm',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira a confirmação da senha'
            },{
              type: 'match[password]',
              prompt: 'A confirmação deve ser igual a senha informada'
            }
          ]
        }
      }
    });
    if (window.location.href.search('cadastro') != -1) {
      $.tab('change tab', 'register');
      $('[data-tab]').removeClass('active');
      $('[data-tab=register]').addClass('active');
    }

    $('.ui.new_password.form').form({
      fields: {
        password: {
          identifier: 'password',
          rules: [{
              type: 'empty',
              prompt: 'Por favor, insira sua senha'
            },
            {
              type: 'length[6]',
              prompt: 'Sua senha deve ter no mínimo 6 caracteres'
            }
          ]
        }
      }
    });

    $('a.new_password').click(function() {
      $('.create.modal').find('.header').text("Preencha os campos abaixo para redefinir a senha");
      $('.create.modal').modal('show');


    });


    $('.ui.modal').modal();
    $('.ui.menu .item').tab();
  </script>
</body>

</html>
